#sec{
  
    top: 55px;
    height: 450px;
    
  }
  
  #sec{  position: relative; }
  #sec::after {
    content: "";
    background:url('img/indexbg.jfif');
      background-size:   100% 100%;                      
      background-repeat:   no-repeat;
      background-position: center center;
      
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }